*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

main{
    display: flex;
    justify-content: flex-start;
}

.logo{
    display: flex;
    justify-content:flex-start;
    margin-left: 6%;
}
.logo img{
    margin-top: 3%;
    width: 40px;
    height: 40px;
}
.logo h3{
    background: linear-gradient(rgb(122, 0, 67),rgb(221, 0, 192), rgb(111, 1, 214));
    -webkit-background-clip: text;
    color: transparent;
}


.menu{
    background-color: rgb(253, 231, 249);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.menu button{
    border: none;
    font-size: medium;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(253, 231, 249);
    display: flex; 
    align-items: center; 
    gap: 10px;
    padding-left: 8%;
}
.menu button:hover{
    background-color: rgb(230, 210, 226);
}

.agregar i{
    color: rgb(0, 199, 0);
}   
.borrar i{
    color: red;
}
.veloz i{
    color: rgb(255, 255, 0);
}





/*------------- titulo -----------------*/
.titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.filtrar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
    margin-top: 4%;
}

.filtrar select{
    margin-left: 4%;
    border: 1px solid #b1b1b1;
    border-radius: 6px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.lista{
    margin-top: 2%;
    margin-left: 2%;
    width: 50%;
    display: block;
}
.lista h1{
    font-size: 2vi;
    margin-bottom: 0;
    margin-right: 10%;
}






/*------------- tareas -----------------*/
.tarea {
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.tarea div{
    display: flex;
    align-items: center;
    width: 80%;
}
.tarea div p{
    margin-left: 1%;
    font-size: 1vi;
    display: flex;
    align-items: center;
}

.tarea button{
    border: none;
    background-color: white;
    padding: 0;
}
.tarea i{
    transition: transform 0.1s ease-out, scale 0.1s ease-out, color 0.1s ease-out;
}
.tarea i:hover{
    scale: 1.3;
    color: rgb(197, 0, 0);    
    transform: rotate(25deg);
}


.agregar-tarea{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}
.agregar-tarea p{
    margin-bottom: 1%;
    font-size: 1vi;
}

.agregar-tarea input{
    width: 60%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
  
input:focus{
    outline: none;
    border-color: #ff00ff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
}

.agregar-tarea button{
    border: none;
    background-color: rgb(23, 153, 23);
    padding: 1%;
    width: 10%;
    border-radius: 5px;
}
.agregar-tarea button:hover{
    background-color: rgb(20, 129, 20);
}
.agregar-tarea i{
    color: white;
}