body {
    font-family: Arial, sans-serif;
    margin: 0;
}

main{
    display: flex;
    justify-content: flex-start;
}


.logo{
    display: flex;
    justify-content:flex-start;
    margin-left: 6%;
}
.logo img{
    margin-top: 3%;
    width: 40px;
    height: 40px;
}
.logo h3{
    background: linear-gradient(rgb(122, 0, 67),rgb(221, 0, 192), rgb(111, 1, 214));
    -webkit-background-clip: text;
    color: transparent;
}


.menu{
    background-color: rgb(255, 225, 249);
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.menu button{
    border: none;
    font-size: medium;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(255, 225, 249);
    display: flex; 
    align-items: center; 
    gap: 10px;
    padding-left: 8%;
}
.menu button:hover{
    background-color: rgb(240, 202, 232);
}

.agregar i{
    color: rgb(0, 199, 0);
}   
.borrar i{
    color: red;
}
.filtrar i{
    color: rgb(228, 23, 228);
}
.veloz i{
    color: rgb(255, 255, 0);
}
